.main-navbar {
    background-color: rgb(14, 53, 136);
}

.main-container {
    background-color: #ECF2FF;
}

.title {
    font-size: 2vw;
}

.navbar .navbar-nav .nav-link {
    color: #ffffffd5;
    margin-left: 5px;
} 

.navbar .navbar-nav .nav-item.active > a, .navbar .navbar-nav .nav-item:hover > a {
    border-top: 1px solid #fff; 
}

.div-form {
    background-color: white;
    border-radius: 10px;
}

.add_input_fax {
    background-color: rgb(6, 119, 128);
    border-width: 0px;
    border-radius: 5px;

}

.fa {
    color: white;
}


.delete_input_fax {
    background-color: red;
    border-width: 0px;
    border-radius: 5px;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
    background-color: transparent;
    border-width: 0px;
}

.nav-footer {
    background-color: #00034F;
}

.nav-footer a {
    color: white;
}

.nav-footer li {
    margin-left: 10px;
} 

.card-container {
    border-width: 2px;
    border-color: black;
}

.card-title {
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif
}



.card:hover {
    -webkit-transform:translate3d(0, 2px, 0);
    transform:translate3d(0, 2px, 0);
    box-shadow:2px 8px 8px -5px rgba(0,0,0,0.3)
}

.modal-dialog-demande,
.modal-content-demande {
    /* 80% of window height */
    height: 90%;
}

.demande-info {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

.table td {
    vertical-align: middle;
}