.main-navbar {
    background-color: rgb(14, 53, 136);
}


.title {
    font-size: 2vw;
}

.navbar .navbar-nav .nav-link {
    color: #ffffffd5;
    margin-left: 5px;
} 

            
.navbar .navbar-nav .nav-item.active > a, .navbar .navbar-nav .nav-item:hover > a {
    border-top: 1px solid #fff; 
}
    
.map {
    border: solid #000;
    border-width: 1px;
}

.form {
    border: solid #000;
    border-width: 2px;
    border-radius: 10px;
}

.nav-footer {
    background-color: #00034F;
}

.nav-footer a {
    color: white;
}

.nav-footer li {
    margin-left: 10px;
} 