.main-navbar {
    background-color: rgb(14, 53, 136);
}



body {
    background-color: #ECF2FF;
    height: 100%;
}


.title {
    font-size: 2vw;
}

.navbar .navbar-nav .nav-link {
    color: #ffffffd5;
    margin-left: 5px;
} 

            
.main-navbar .navbar-nav .nav-item.active > a, .main-navbar .navbar-nav .nav-item:hover > a {
    border-top: 1px solid #fff; 
}


.nav-footer {
    background-color: #00034F;
}

.nav-footer a {
    color: white;
}

.nav-footer li {
    margin-left: 10px;
} 

.user_bloc {
    background-color: white;
    border-radius: 10px;
    
}

#messages {
    height: 500px;
}

.info-element {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
}


.onWorking {
    background-color: rgb(160, 160, 160);
}


.good_request {
    background-color: rgb(95, 253, 166);
}

.good_request:hover {
    background-color: rgb(72, 255, 96);
}

.bad_request {
    background-color: rgb(255, 133, 133);
}

.bad_request:hover {
    background-color: rgb(255, 88, 88);
}

.mainTable tbody tr td div + a {
    color: rgb(48, 0, 161);
    font-weight: bold;
}

.pre-table tbody tr td a {
    color: rgb(39, 6, 117);
    font-weight: bold;
}

tr {
    margin-top: 2px;
}